@font-face {
  font-family: "Antonio";
  src:url("../fonts/Antonio-Regular.ttf");
}

@font-face {
  font-family: "Mellony";
  src:url("../fonts/mellony dry brush.ttf");
}

@font-face {
  font-family: "StayRad";
  src:url("../fonts/Stay Rad - Demo.ttf");
}
